<div class="container">
      <div class="row">
        <main class="container">
          <section class="new-reference" id="compose-reference">
            <h2>Save A Link</h2>
            <form id="referenceForm" action="/new" type="POST">
              Resource URL: <input type="text" name="url" placeholder="https://"><br>
              Title: <input type="text" name="title" placeholder="Build-A-Chair"><br>
              Description: <input type="text" name="description" placeholder="building a chair"><br>
              Img: <input type="text" name="refImage" placeholder=".jpg"><br>
              <input type="submit" id="submitReference" value="Save">
            </form>
          </section>
        </main>
