.header_is_on_top{
  margin:0;
  background-color:white;
  border-bottom:1px solid #e8e8e8;
  height: 50px;
  margin-bottom: 10px;
}
.rating_score{
  height: 35px;
  width:35px;
  float:left;
  border-radius:2px;
  background-color:orange;
  padding:5px;

}
.title{
  float:right;
  margin:5px;
}
.rating{
  text-align: center;
   line-height:100%;
   margin:0;
}
.stand{
  border-right:1px solid #e8e8e8;
  border-left:1px solid #e8e8e8;
  margin:auto;
  height: 200px;
  width: 85%;
  background-color:white;
  padding:6px;
}

.resource_grid{
margin:auto;
display:flex;
flex-flow: wrap;
background-color:#dddddd;
}
.head{
height: 30px;
padding:6px;
}
.pic{
  width:40px;
  height:40px;
  border-radius: 10px;
  float:left;
  margin-right:5px;
}
.name{
  margin:0;
  color:#484a4c;
  float:left;
}
.message{
  padding-bottom: 20px;
  margin:0;
  height:200px;
}
.message p{
  color:#484a4c;
  max-width: 90%;
  overflow-wrap: break-word;
  margin:2px;
}
.foot{
  border-top: 1px solid #bccae0;
  color:lightgrey;
}
.time{
  float:left;
  color:#484a4c;
  margin:2px;
}
.comment{
width:97%;
height:3rem;
border-radius:3px;
border: 1px solid #bccae0;
margin:7px;
}
.like{
  margin:4px;
  color:orange;
  float:right;
  line-height:100%;
  border-radius:3px;
  font-weight: 900;



}
.rate{
  margin:4px;
  color:#484a4c;
  float:right;
  line-height:100%;
}

.comment_view{
  height: 60px;
  border: 2px solid #e8e8e8;
  width:98%;
  margin:auto;
  margin-top:5px;
  margin-bottom:5px;
  border-radius:4px;
  background-color:#eff2f7;
}
.latest_coment_head{
  height: 20px;
  width:40%;
  margin-right:5px;
 border-bottom:2px solid #e8e8e8;
}

.make_a_comment{
  height: 40px;
  background-color: #e8e8e8;
}


